*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    font-family: 'Lexend Deca', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: hsl(0, 0%, 95%);
}
.card-wrapper{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    height: 80%;
    width: 80%;
}
.card-1{
    display: flex;
    flex-direction: column;
    background-color: hsl(31, 77%, 52%);
    height: 90%;
    gap: 1rem;

    padding: 2rem;
    position: relative;
}
.card-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(184, 100%, 22%);
    height: 90%;
    width:100%;
    
    padding: 2rem;
    position: relative;
}
.card-3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(179, 100%, 13%);
    height: 90%;
    padding: 2rem;
    position: relative;
}

p{
    margin: 1rem 0;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    
}
img{
    height: 90px;
    width: 90px;
}

button{
    padding: 0.7rem;
    border: none;
    border-radius: 1rem;
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100px;
}

.card-1 button{
    color:hsl(31, 77%, 52%);
}

.card-2 button{
    color:hsl(184, 100%, 22%);
}

.card-3 button{
    color:hsl(179, 100%, 13%);
}


h1{
    font-family: 'Big Shoulders', sans-serif;
    color: hsl(0, 0%, 95%);
    text-align: center;
}

@media (max-width: 375px){
    .card-wrapper{
        display: flex;
        flex-direction: column;
    }

}

